<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <th:block th:replace="~{fragments/head :: personal-head('All Photos')}" />

    <!-- Link CSS -->
    <link rel="stylesheet" th:href="@{/css/photo-index.css}" />

</head>

<body class="bg-dark text-white">

    <!-- Titolo pagina -->
    <header class="py-3">
        <h1 class="text-center">Elenco foto</h1>
    </header>

    <!-- Contenuto principale della pagina -->
    <main>
        <div class="container">

            <div class="d-flex flex-wrap gap-5 justify-content-center">

                <div th:each="photo : ${photos}" class="card position-relative">

                    <!-- Immagine della foto -->
                    <img class="card-img" th:src="${photo.url}" th:alt="|foto_${photo.id}|">

                    <a th:href="|@{photos/}${photo.id}|" class="stretched-link"></a>

                    <!-- Contenuto della card -->
                    <div class="card-img-overlay">
                        <!-- Titolo della foto -->
                        <h5 class="card-title">[[${photo.title}]]</h5>

                        <!-- Descrizione della foto -->
                        <p th:unless="${photo.description.isEmpty()}">[[${photo.description}]]</p>

                        <!-- Se commenti non è vuoto -->
                        <p>Commenti: [[${photo.comments.size()}]]</p>

                        <!-- Se tag non è vuoto -->
                        <ul th:unless="${photo.tags.isEmpty()}">
                            <li th:each="tag : ${photo.tags}">[[${tag.name}]]</li>
                        </ul>

                        <!-- Se categorie non è vuoto -->
                        <ul th:unless="${photo.categories.isEmpty()}">
                            <li th:each="category : ${photo.categories}">[[${category.name}]]</li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>
    </main>

    <!-- Footer per Button Navigation -->
    <footer class="container d-flex justify-content-end gap-2 py-3">

        <div class="d-flex flex-row-reverse gap-2">
            <a th:href="@{/photos/create}" class="btn btn-success">Aggiungi foto</a>
        </div>

    </footer>

</body>

</html>