<th:block th:fragment="searchBar">

    <form class="me-3 py-3 col-5">
        <input class="form-control" type="text" name="photo" id="photoQuery"
            placeholder="Inserire titolo della foto da ricercare...">
    </form>

</th:block>

<th:block th:fragment="checkboxFilter(elementFilter)">

    <div th:class="${elementFilter.contains('tags')} ? 'tagsFilter' : 'categoriesFilter' ">
        <h5 th:text="${elementFilter.contains('tags')} ? 'Tag' : 'Categorie' ">Tag</h5>

        <div th:id="${elementFilter.contains('tags')} ? 'tagsCheckbox' : 'categoriesCheckbox' ">

        </div>

    </div>

</th:block>