<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <th:block th:replace="~{fragments/head :: personal-head('FotoLibro')}" />

    <!-- Link Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Link a js/homepage.js -->
    <script type="text/javascript" th:src="@{/js/homepage.js}" defer></script>

    <!-- Link CSS -->
    <link rel="stylesheet" th:href="@{/css/photo-index.css}" />

</head>

<body class="bg-dark text-white">

    <!-- Navbar -->
    <nav th:replace="~{fragments/navbar :: front-navbar('photos')}"></nav>

    <!-- Titolo pagina -->
    <header class="py-3">
        <h1 class="text-center">Elenco foto</h1>
    </header>

    <!-- Contenuto principale della pagina -->
    <main>
        <div class="container">

            <!-- Barra di ricerca per titolo -->
            <form class="py-3">
                <input class="form-control col-4" type="text" name="photo" id="photoQuery"
                    placeholder="Inserire titolo della foto da ricercare...">
            </form>

            <div id="photosContainer" class="d-flex flex-wrap gap-5 justify-content-center">

            </div>

        </div>
    </main>

    <footer class="py-3">

    </footer>

</body>

</html>